* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    overflow: hidden;
    /* to remove any visible scrollbars */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
